#nav_bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00004d;
}

    #nav_bar > ul > li {
        float: right;
    }

        #nav_bar > ul > li > a {
            display: block;
            color: white;
            text-align: center;
            font-size: 1.2em;
            padding: 14px 16px;
            text-decoration: none;
        }

            #nav_bar > ul > li > a:hover {
                background-color: #4d88ff;
                color: white;
                text-decoration: none;
            }

#login  > p {
    font-size: 1.5em;
    color: #00004d;
    width: 20%;
    padding: 5px 10px;
    margin-left: 40%;
}

#login > input[type=text] {
    width: 20%;
    padding: 5px 10px;
    margin-bottom: 3%;
    margin-left: 40%;
    margin-right: 40%;
    box-sizing: border-box;
    border-style: inset;
    border-radius: 7px;
    border-color: #0000cc;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
}

#camera {
    width: auto;
    margin-left: 33%;
    margin-right: 32%;
}

    #camera > button {
        color: white;
        text-align: center;
        font-size: 1.2em;
        padding: 5px 10px;
        background-color: #003cb3;
        border: none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-left: 47%;
        margin-right: 30%;
        margin-top: 2%;
    }

        #camera > button:active {
            background-color: #004de6;
            color: white;
            border: none;
            box-shadow: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
        }

#app > div > h1 {
    text-align: center;
}
#send {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 10px;
    background-color: #003cb3;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 45%;
    margin-right: 35%;
    margin-top: 2%;
}
#send:active {
    background-color: #004de6;
    color: white;
    border: none;
    box-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}