#nav_bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00004d;
}

    #nav_bar > ul > li {
        float: right;
    }

        #nav_bar > ul > li > a {
            display: block;
            color: white;
            text-align: center;
            font-size: 1.2em;
            padding: 14px 16px;
            text-decoration: none;
        }

            #nav_bar > ul > li > a:hover {
                background-color: #4d88ff;
                color: white;
                text-decoration: none;
            }

.login {
    width: 300px;
    margin: 0 auto;
    margin-top: 1%;
}
.login  > p {
    font-size: 1.5em;
    color: #00004d;
    width: 20%;
    padding: 5px 10px;
    text-align: left;
}

.login > input[type=text] {
    width: 100%;
    height: auto;
    padding: 5px 10px;
    box-sizing: border-box;
    border-style: inset;
    border-radius: 7px;
    border-color: #0000cc;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
}

.camera {
    width: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0.75%;
}

.temp {
    width: 640px;
    display: block;
    margin: 0 auto;
    margin-bottom: -5%;
}


.take {
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    background-color: #003cb3;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

        .take:active {
            background-color: #004de6;
            color: white;
            border: none;
            box-shadow: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
        }

#app > div > h1 {
    text-align: center;
}
.send {
    margin-bottom : 2%;
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 10px;
    background-color: #003cb3;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.send:active {
    background-color: #004de6;
    color: white;
    border: none;
    box-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.send:disabled {
    opacity: 0.5;
}

.message{
   text-align:center;
}

.image {
    display:block;
    margin: 0 auto;
}

#wist {
    float: none;
    color: white;
    margin-right: 33%;
    margin-top: 0.45%;
    font-size: 1.75em;
    text-align: center;
}

.temp1 {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

.spiner {
    width: 50px;
    margin: 0 auto;
}

.take:disabled {
    opacity: 0.5;
}