@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <div id="nav_bar"></div>
</nav>
<main>
    <div id="app">Loading...</div>
</main>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
